/* futura-100 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Futura-Thin.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Thin.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-200 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Futura-Light.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-300 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Futura-Light.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-regular - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Futura-Medium.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-500 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Futura.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-600 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Futura-Heavy.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Heavy.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-700 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Futura-Bold.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-800 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Futura-Bold.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* futura-900 - Sans-serif */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Futura';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Futura-Black.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('/fonts/Futura-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

* {
    font-family: Futura, sans-serif;
}

.mainBackground{
    background: url("/assets/fondo.jpg"), radial-gradient(79.25% 140.89% at 17.13% 28.67%, #000000 0%, #3A3A3A 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 135% 135%;
    background-origin: content-box;
    min-height: 100vh;
}

@media (max-width: 430px){
    .mainBackground{
        display: none;
    }
}

.mainMobile{
    background-color: rgba(0, 0, 0, 0.9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 135% 135%;
    background-origin: content-box;
    min-height: 100vh;
}

@media (min-width: 430px){
    .mainMobile{
        display: none;
    }
}

:root {
    --scrollbar-color: #cfcecd;
    --scrollbar-background: #e4e2e100;
}

/* ESTILOS DEL SCROLL */
body, 
.styled-overflow  {
    scrollbar-color: #cfcecd transparent !important;
}

/* Tamaño del scroll */
body::-webkit-scrollbar, 
.styled-overflow-y::-webkit-scrollbar{
    width: 4px;
    height: 10px;
}
/* Estilos barra (thumb) de scroll */
body::-webkit-scrollbar-thumb, 
.styled-overflow::-webkit-scrollbar-thumb {
    background:  var(--scrollbar-color)!important;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:active, 
.styled-overflow::-webkit-scrollbar-thumb:active {
    background-color: #cfcecd;
}

body::-webkit-scrollbar-thumb:hover, 
.styled-overflow::-webkit-scrollbar-thumb:hover {
    background: #F5F0EB;
    box-shadow: 0 0 0px 0px #cfcecd;
}

 /* Estilos track de scroll */
body::-webkit-scrollbar-track, 
.styled-overflow::-webkit-scrollbar-track {
    background: var(--scrollbar-background)!important;
    border-radius: 5px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active,
.styled-overflow::-webkit-scrollbar-track:hover,
.styled-overflow::-webkit-scrollbar-track:active {
    background: #F5F0EB;
}